<%- include('../partials/header') %>
<h2 class="card-title">Trails</h2>

<table id="list" class="table table-hover caption-top">
    <thead>
      <tr class="table-borderless table">
        <th scope="col" class="trail-table-head">Trail</th>
        <th scope="col" class="trail-table-head">Miles</th>
        <th scope="col" class="trail-table-head">Region</th>
        <th scope="col" class="trail-table-head">Features</th>
        <th scope="col" class="trail-table-head">Added By User</th>
        <th scope="col" class="trail-table-head">Delete</th>
        <th scope="col" class="trail-table-head">Trail Details</th>
        <br>
      </tr>
    </thead>
    <tbody>
      <% trails.forEach(function(t) { %>
        <tr scope="row">
          <td><%= t.name %></td>
          <td><%= t.miles %></td>
          <td><%= t.region %></td>
          <td><ul><% t.features.forEach(function(f) { %> 
            <li> <%= f %> </li>
            <% }); %> </ul></td>
          <td ><img alt="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" ><%= t.userName %></td>
          <td>
            <% if (user && user._id.equals(t.user)) { %>
              <form action="/trails/<%= t._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } else { %>
              <script>
                console.log("***user issue");
              </script>
            <% } %>
          </td>
          <td><a href="/trails/<%= t._id %>">Show Trail</a></td>
          
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href='/trails/new'>New Trail</a>

<%- include('../partials/footer') %>